<!--
<div class="input-wrapper">
    <div class="label-wrapper">
        <label class="label">Nachname</label>
        <br>
        <label class="label">Vorname:</label>
        <br>
        <label class="label">Email:</label>
        <br>
        <label class="label">Adresse</label>
        <br>
        <label class="label">IBAN</label>
        <br>
        <label class="label">Kreditinstitut</label>
    </div>
    <div class="inputs">
        <input type="text" id="#Name" class="inputfield" placeholder="Name" [(ngModel)]="name">
        <br>
        <input type="text" id="Vorname" class="inputfield" placeholder="Vorname" [(ngModel)]="vorname">
        <br>
        <input type="text" id="Email" class="inputfield" placeholder="Email" [(ngModel)]="email">
        <br>
        <input type="text" id="Adresse" class="inputfield" placeholder="Adresse" [(ngModel)]="adresse">
        <br>
        <input type="text" id="IBAN" class="inputfield" placeholder="IBAN" [(ngModel)]="iban">
        <br>
        <input type="text" id="Kreditinstitut" class="inputfield" placeholder="Kreditinstitut" [(ngModel)]="kreditinstitut">
        <br>
    
    </div>
</div>
-->
<div class="i-wrapper">
    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Vorname</span>
            <input #input type="text" class="form-control" aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="name">
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Nachname</span>
            <input #input type="text" class="form-control" aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="vorname">
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Email</span>
            <input #input type="text" class="form-control" aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="email">
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Adresse</span>
            <input #input type="text" class="form-control" aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="adresse">
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">IBAN</span>
            <input #input type="text" class="form-control" aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="iban">
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Kreditinstitut</span>
            <input #input type="text" class="form-control" aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="kreditinstitut">
        </div>
    </div>

    <button class="sub" type="submit" (click)="save();">Bestätigen</button>
</div>


