.inputfield {
    margin: 5vh;
    display: inline-block;
}

.input-wrapper {
    height: fit-content;
    width: fit-content;
}

.label {
    display: inline-block;
    margin: 5.3vh;
}

.inputs {
    display: inline-block;
}

.label-wrapper {
    display: inline-block;
}

.sub {
    background-color: var(--asta-bluelight);
    color: var(--asta-white);
    border-radius: 20px;
    height: 5vh;
    width: 20vw;
}
/* new stuff */
.input-group-text {
    width: 8vw;
}
.form-control {
    width: 30vw;
    flex: none;
}

.i-wrapper {
    margin-left: 1rem;
    margin-top: 1rem;
}