.inputfield {
    margin: 5vh;
    display: inline-block;
}

.input-wrapper {
    height: fit-content;
    width: fit-content;
}

.label {
    display: inline-block;
    margin: 5.3vh;
}

.inputs {
    display: inline-block;
}

.label-wrapper {
    display: inline-block;
}

.sub {
    margin-left: 5vh;
    background-color: var(--asta-bluelight);
    color: var(--asta-white);
    border-radius: 20px;
    height: 5vh;
    width: 20vw;
}