

<input type="text" id="#Name" class="inputfield" placeholder="Name">
<input type="text" id="Vorname" class="inputfield" placeholder="Vorname">
<input type="text" id="Email" class="inputfield" placeholder="Email">
<input type="text" id="Adresse" class="inputfield" placeholder="Adresse">
<input type="text" id="IBAN" class="inputfield" placeholder="IBAN">
<input type="text" id="Kreditinstitut" class="inputfield" placeholder="Kreditinstitut">
<button class="submit" type="submit" (click)="onSubmit()">Bestätigen</button>


<input type="text" [(ngModel)]="inputWert">




