.form-text {
  padding: .375rem .75rem;
  margin: .375rem;
  margin-left: 10.75rem;
}
.input-group{
  margin: .375rem;
  margin-left: 10.75rem;
}
.grow-wrap > textarea {
  resize: none;
  overflow-y: auto;
  max-width: 80vw;
  min-width: 80vw;
  min-height: 10vw;
}
.grow-wrap > textarea,
.grow-wrap::after {
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
  max-width: 80vw;
  min-width: 80vw;
}
.grow-wrap {
  display: grid;
  border-radius:var(--bs-border-radius);
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  overflow-wrap: break-word;
  visibility: hidden;
}
