.form-text{
  padding: .375rem .75rem;
}
.grow-wrap > textarea {
  resize: both;
  overflow: hidden;
  max-width: 80vw;
  min-width: 80vw;
  min-height: 10vw;
}
.grow-wrap > textarea,
.grow-wrap::after {
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
  max-width: 80vw;
  min-width: 80vw;
  min-height: 10vw;
}
.grow-wrap {
  display: grid;
  padding: .375rem .75rem;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
