<div class="OverviewContainer">
  <h2>Überblick</h2>

  <h3>Attachments</h3>

  @if (attachments | async; as attach){

    @if (filterRequired(attach).length > 0){
      <h4>Zwingen Notwendig</h4>
      @for (attachment of filterRequired(attach); track attachment.id){
        <app-attachment [attachment]="attachment" ></app-attachment>
      }
    }

    @if (filterUser(attach).length > 0){
      <h4>Eventuell Nötig</h4>
      @for (attachment of filterUser(attach); track attachment.id){
        <app-attachment [attachment]="attachment" ></app-attachment>
      }
    }



  }




  <br>
  <button (click)="DownloadPDF(this.formId)">DownLoad PDF</button>


</div>

