 .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
   padding-left: 2em;
  }
.input-group {
  display: flex;
  align-items: stretch;
}

.input-group-text {
  flex: 0 0 auto;
  margin-right: 1em;
}
.form-control {
  min-width: 10em;
  max-width: 10em;
  border: solid 3px var(--asta-bluelight);
}
 .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
   border-radius: 0.25em;
 }
