<nav class="navbar navbar-dark c-color">
  <button class="navbar-toggler" type="button" (click)="this.onClick();">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img src="assets/image/AstaRgb.png" alt="AStA-Logo" class="AStA-Logo" routerLink="">
  <input (input)="this.search.updateSearch($event)" type="text" placeholder="Suche..." class="Searchbar">
  <div class="Account-holder">
    <img src="assets/image/useraccount.png" alt="useraccount" class="User-Logo">
    <div class="Account-Text-Holder">
      {{this.Username}}
    </div>

  </div>
</nav>

@if(this.isOpen) {
  <div class="burger-background" (click)="this.onClick();">
    <div class="burger-open">
      <button class="item" routerLink="userdata">Eigene Daten</button>
      <button class="item" routerLink="filledForms">Eigene Anträge</button>
    </div>
  </div>

}






<!--Bootrstrap Source: https://getbootstrap.com/docs/4.0/components/navbar/        "External Content" -->
