@for (formElement of this.section?.items; track $index){
  @switch (formElement.type){
    @case ('text'){
      <app-text [description]="formElement.Description"
                [help]="formElement.help" [value]="formElement.value"
                (valueChanged)="updateFormSection({'val': $event, 'id': formElement.id } ) " />
 
    }
@case ('iban') {
  <app-iban [description]="formElement.Description"
    [help]="formElement.help" [value]="formElement.value"
    (valueChanged)="updateFormSection({'val': $event, 'id': formElement.id } )" />


}
@case ('money') {
  <app-money [description]="formElement.Description"
    [help]="formElement.help" [value]="formElement.value"
    (valueChanged)="updateFormSection({'val': $event, 'id': formElement.id } )" />

}
@case ('address') {
  <app-address [description]="formElement.Description"
               [help]="formElement.help" [value]="formElement.value"
               (valueChanged)="updateFormSection({'val': $event, 'id': formElement.id } )" />

}
@case ('date') {
  <app-date [description]="formElement.Description"
            [help]="formElement.help" [value]="formElement.value"
            (valueChanged)="updateFormSection({'val': $event, 'id': formElement.id } )" />

}
@case ('TextMultiLine') {
  <app-text-multi-line [description]="formElement.Description"
                       [help]="formElement.help" [value]="formElement.value"
                       (valueChanged)="updateFormSection({'val': $event, 'id': formElement.id } )" />

}
@case ('bool') {
  <app-bool [description]="formElement.Description"
            [help]="formElement.help" [value]="formElement.value"
            (valueChanged)="updateFormSection({'val': $event, 'id': formElement.id } )" />

}


    @default {
      <p>Unsupported Type {{formElement.type}}</p>
    }
  }
}

<button (click)="fillData()">Use Own Data</button>
