<div *ngIf="loggedIn" class="login">
  <div class="container">
    <div class="rectangle">
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 1204 502"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="1204" height="502" rx="30" fill="#152F56" />
      </svg>
    </div>
    <span class="text-bitte-loggen-sie-sich-ein">Bitte loggen Sie sich ein</span>
    <div class="frame">
      <button class="text-login" (click)="login()">Login</button>
    </div>
    
  </div>
</div>

