<div class="login_52-52">
  <div class="rectangle-25_52-102">
    <svg
      width="1204"
      height="502"
      viewBox="0 0 1204 502"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="1204" height="502" rx="30" fill="#152F56" />
    </svg>
  </div>
  <div class="frame-6_52-106">
    <button class="text-login_52-105" (click)="login()">Login</button>
  </div>
  <div class="frame-10_74-18"></div>
  <span class="text-bitte-loggen-sie-sich-ein_74-17"
    >Bitte Loggen Sie sich ein</span
  >
</div>
