body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--asta-white);
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--asta-white);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1204px;
  height: 502px;
  margin-top: 125px;
}

.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: var(--asta-blue);
}

.frame {
  z-index: 1;
}

.text-login {
  color: var(--asta-white);
  font-size: 48px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: var(--asta-bluelight);
  border: 2px solid var(--asta-bluelight);
  border-radius: 12px;
  padding: 10px 40px;
  z-index: 1;
}

.text-bitte-loggen-sie-sich-ein {
  color: var(--asta-white);
  font-size: 48px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 50px;
  z-index: 1;
}
