.auswahlbutton {
    display: block;
    width: 100%;
    height: 14vh;
    position: relative;
    background-color: var(--asta-blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0%;
    border-width: 0;
}

.subbutton {
    display: block;
    width: 100%;
    height: 3vw;
    float: inline-start;
    background-color: var(--asta-bluelight);
    color: var(--asta-white);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    position: relative;
}

.sbright {
    border-bottom-right-radius: 20px;
}

.sbleft {
    border-bottom-left-radius: 20px;
}

.subbutton-wrapper {
    display: block;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: inline-start;
    height: fit-content;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.auswahlbutton:hover {
    cursor: pointer;
}

h1 {
    font-size: 3vmin;
    text-decoration: underline;
    color:var(--asta-white);
}

h2 {
    font-size: 2vmin;
    color:var(--asta-white);
}

.subbutton > h2 {
    padding-top: 3%;
    font-size: 3vmin;
    color: var(--asta-white);
}