<div class="Button-wrapper">

  @if ( this.templateService.Forms | async; as templates){

    @for(t of templates ; track t) {
      @if (t.category === Form.CategoryEnum.Antrag ){
        <div class="subbutton-wrapper">
          <div class="auswahlbutton">
            <h1>{{t.titel}}</h1>
            <h2>{{t.description}}</h2>
          </div>
          <button type="button" class="subbutton sbleft" routerLink="/Form/{{t.id}}">Antrag</button>
          @for(a of templates ; track a){
            @if(a.category === Form.CategoryEnum.Abrechnung && a.titel == t.titel) {
              <button type="button" class="subbutton sbright" routerLink="/Form/{{a.id}}">Abrechnung</button>
            }
          }
        </div>
      }
    }
  }
</div>
