:host {
    display: block;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group-text {
    flex: 0 0 auto;
    margin-right: 1em;
  }

.form-check-input {
    opacity: 1;
    margin-left: 4em;
}
