.fav-button {
    background-color: transparent;
    border-color: transparent;
  padding-left: 1em;
}

.form-container{
  display: flex;
  flex-direction: row;
  padding: .375rem .75rem;
}
.fav-button:hover svg {
  fill: red;
}

.formContent{
  --paddingLeft: 10.75rem;
  padding-left: var(--paddingLeft);
  width: calc(100% - var(--paddingLeft)); ;
}

.button-spacing {
  margin-left: 50rem;
}
.btn-primary:hover{
  background-color: var(--asta-orange);
  cursor: pointer;
}

.btn-primary{
  background-color: var(--asta-blue);

}
