<div *ngIf="(formdetails | async) as FormDetail" >
  <h1>{{FormDetail.titel }}</h1>
  <!--Icon for Fav-->

    <!--<button class="fav-button" (click)="this.FavService.putFav(this.form.id!);">-->
    <!--<button class="fav-button" (click)="this.favButtonPress();">-->
    @if(this.isInFav()) {
      <button class="fav-button" (click)="this.FavService.delFav(this.getFavId()!);">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
        </svg>
    </button>
    } @else {
      <button class="fav-button" (click)="this.FavService.putFav(this.form.parent!, this.form.id!);">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
        </svg>
    </button>
    }
  <app-progress-display [sections]="FormDetail.form" ></app-progress-display>
  <app-form-content [section]="FormDetail.form?.[this.currentSection]" (formSectionEventEmitter)="UpdateFormSectionData($event)" > > ></app-form-content>
  <app-progress-controls [sectionsCnt]="FormDetail.form?.length" [currentSection]="this.currentSection" ></app-progress-controls>
</div>


  <!--Icon Source: https://icons.getbootstrap.com/icons/heart-fill/ -->