.mb-3 {
    margin-bottom: 1rem;
  }

  .input-group {
    display: flex;
    flex-direction: row;
    margin: .375rem;
  }

  .input-group-date {
    display: inline-block;
    align-self: center;
  }
  .form-control {
    flex: 1;
    min-width: 10em;
    max-width: 10em;
    margin-right: 1.5rem;
    border: solid 3px var(--asta-bluelight);
  }
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
  border-radius: var(--bs-border-radius);
}
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    padding-left: 2em;
  }

  .form-date {
    margin-top: 0.5rem;
    font-size: 0.9em;
    color: #6c757d;
  }
.form-text{
  padding: .375rem .75rem;
}
