 .form-group {
    display: flex;
    align-items: center;
    gap: 10px;

  }
  .form-group input.form-control {
    min-width: 15em;
    max-width: 15em;
    border: solid 3px var(--asta-bluelight);
  }
  .form-text {
    font-size: 0.8rem;
  }

  .error-message {
    display: block;
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
  }
