<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Abrechnung eines Vorschusses Dez 23</title>
    <link rel="stylesheet" href="Styles.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid #000;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        .trcont{
            height: 70px;
        }
        .VomAstaSpacer{
padding-top: 70px;
        }
        .QuittungenSpacer{
            padding-bottom: 35px;
        }
        .AntragGeprueftSpacer{
            padding-top: 60px;
        }
        .UnterschriftHaushaltSpacer{
            padding-top: 50px;
        }
        .topsectionWidth{
            width: 450px;
        }
        .topsectionheight{
            height: 35px;
        }
        .topsectionheight input{
            height: 20px;
        }
        .sectiontwoheight{
            height: 40px;
        }
        .sectiontwoheight input{
            height: 22px;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>
    <h1>Abrechnung erhaltener Vorschüsse</h1>
    <p>(Bitte alle Rechnungen/Quittungen im Original anheften! Es sind alle Seiten einzureichen!)</p>
<br>
    <div class="topsectionheight"><strong>Datum der Veranstaltung: </strong><input type="text" class="alignRight topsectionWidth"></div>
    <div class="topsectionheight"><strong>Name der Veranstaltung:</strong><input type="text" class="alignRight topsectionWidth"></div>
    <div class="topsectionheight"><strong>Fachschaft/Referat/Arbeitskreis:</strong><input type="text" class="alignRight topsectionWidth"></div>
    <div class="topsectionheight"><strong>Name Verantwortliche*r:</strong><input type="text" class="alignRight topsectionWidth"></div>
    <div class="topsectionheight"><strong>Kontaktdaten</strong> (Handy-Nr. E-mail):<input type="text" class="alignRight topsectionWidth"></div>

    <hr>

    <div class="sectiontwoheight"><strong>Datum der Vorschusszahlung:</strong><input style="margin-left: 27px" type="text" ></div>
    <div class="sectiontwoheight"><strong>Höhe des Vorschusses:</strong><input style="margin-left: 77px; width: 130px" type="text" ></div>
    <div class="sectiontwoheight"><strong>Gesamtsumme der Ausgaben:</strong><input style="margin-left: 27px; width: 130px" type="text" ></div>
    <div class="sectiontwoheight"><strong>Zu zahlender Differenzbetrag:</strong><input style="margin-left: 30px; width: 130px" type="text" ></div>

    <table><thead>
    <tr>
        <td><strong class="pt11"> Differenzbetrag ist vom AStA zu erstatten </strong><input type="checkbox"><br>
            <strong class="pt11">Differenzbetrag ist vom Veranstalter zurückzuzahlen </strong><input type="checkbox"></td>
        <td style="width: 280px" rowspan="2"><strong class="pt11">Bankdaten vom AStA für Rückzahlung:</strong> <br><br>
            <strong class="pt11">Empfänger:</strong>  <br>
            <span class="pt10">Studierendenschaft der Hochschule Esslingen</span><br>
                <strong>IBAN:</strong><span class="pt10"> DE48 6115 0020 0102 1762 58</span><br>
                    <strong>Bank:</strong><span class="pt10"> KSK Esslingen-Nürtingen</span> <br><br><br></td>
    </tr>
    <tr>
        <td><strong>Datum der Rückzahlung:</strong> <input style="width: 150px; height: 20px" type="text"> </td>
    </tr></thead>
    </table>

    <br>  <br>

    <input type="text" class="UnterschriftSteller">
    <p><strong>Datum/Unterschrift Antragsteller*in:</strong></p>
    <p class="ichBestaetige Italic">* Ich bestätige die Vollständigkeit und Richtigkeit der oben gemachten Angaben.</p>

    <p class="UnderLine"><strong>Abrechnung genehmigt:</strong></p>
    <div class="signature">
        <div>
            <p>_____________________________________</p>
            <p>Datum/Unterschrift AStA-Vorsitz</p>
        </div>
        <div>
            <p>_____________________________________</p>
            <p>Datum/Unterschrift Finanzreferat</p>
        </div>
    </div>
</div>
<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>
    <h1>Abrechnung getätigter Ausgaben</h1>
    <p>(Bitte alle Rechnungen/Quittungen im Original anheften und Tabelle ausführlich ausfüllen!)</p>
    <p>(Es sind alle Seiten des Antrages einzureichen!)</p>
    <table><thead>
    <tr>
        <th>Nr</th>
        <th>Wo gekauft?</th>
        <th>Was gekauft?</th>
        <th>Betrag</th>
    </tr></thead>
        <tbody>
        <tr class="trcont">
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="trcont">
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="trcont">
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="trcont">
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="trcont">
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="trcont">
            <td>6</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="trcont">
            <td>7</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="trcont">
            <td>8</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="trcont">
            <td>9</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="trcont">
            <td>10</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><strong>Gesamtsumme der Ausgaben:</strong></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>
    <h1>Erstattung des Differenzbetrages bei Vorschüssen</h1>
    <p>(Bitte alle Rechnungen/Quittungen im Original anheften! Es sind alle Seiten einzureichen!)</p>
    <p style="padding-top: 30px"><strong>Differenzbetrag in Euro:</strong> <input type="text" class="InputHeightNormal "></p>

    <div class="ReciverBlock">
        <p class="vorschussReciver" ><strong>Empfänger*in:</strong><input class="vorschussReciver alignRight vorschussFullLen" type="text"></p>
        <p class="vorschussReciver" ><strong>Anschrift:</strong><input class="vorschussReciver alignRight vorschussFullLen" type="text"></p>

        <p  class="vorschussReciver" ><strong>IBAN:</strong> (22 Stellen)<input class="ibanfirst ibanwide vorschussReciver" type="text"><input class="ibanwide vorschussReciver" type="text"><input class="ibanwide vorschussReciver" type="text"><input class="ibanwide vorschussReciver" type="text"><input class="ibanwide vorschussReciver" type="text"><input class="ibanslim vorschussReciver" type="text"></p>
        <p class="vorschussReciver" ><strong>Kreditinstitut:</strong><input class="vorschussReciver alignRight vorschussFullLen" type="text"></p>
    </div>

    <ul>
        <li><strong class="strongsizeSmaller">Ich bestätige die Richtigkeit der gemachten Angaben.</strong></li>
        <li><strong class="strongsizeSmaller">Ich verpflichte mich alle Rechnungen/Quittungen der Abrechnung im Original beizulegen.</strong></li>
    </ul>

    <input type="text" class="UnterschriftSteller">
    <p><strong>Datum/Unterschrift Antragsteller*in:</strong></p>

    <h2 class="VomAstaSpacer">Vom AStA auszufüllen!</h2>
    <hr>

    <p class="QuittungenSpacer"><strong>Nur bei Auszahlung von Wechselgeld: Geldübergabeformular angehängt?</strong> <input type="checkbox"></p>
    <p><strong>Haushalts-Titel:</strong> __________________________</p>
    <p class="AntragGeprueftSpacer"><strong class="UnderLine">Antrag geprüft:</strong></p>
    <p class="UnterschriftHaushaltSpacer">__________________________________________<br>Datum/Unterschrift Haushaltsbeauftragte</p>

</div>
[(${Anhang})]
</body>
</html>
