<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Erstattung von Reisekosten Dez 23</title>
    <link rel="stylesheet" href="Styles.css">
    <style>
        .FahrgemeinschaftHeight{
            height: 20px;
        }
        div.FahrgemeinschaftHeight{
            padding-bottom: 10px;
        }
        .afk_width{
            width: 62%;
        }
        .reiseGrundZihl{
            width: 80%;
        }
        .ReiseBeginn{
            width: 200px;
            margin-left: 14px;
        }
        .ReiseEnde{
            width: 200px;
            margin-left: 29px;
        }
        .Mitreisende{
            width: 200px;
            margin-left: 23px;
        }
        .extrasmall{
            font-size: 8pt;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>
    <h1>Antrag auf Erstattung von Reisekosten</h1>

    <br>

    <br>

    <div class="FahrgemeinschaftHeight"><b>Antragsteller*in</b> (Name Vorname): <input class="FahrgemeinschaftHeight alignRight afk_width" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Fachschaft/Referat/Arbeitskreis:</b><input class="FahrgemeinschaftHeight alignRight afk_width" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Kontaktdaten</b> (Handy-Nr. E-Mail):<input class="FahrgemeinschaftHeight alignRight afk_width" type="text"></div>
    <br>
    <div class="FahrgemeinschaftHeight"><b>Zweck der Reis:</b><input class="FahrgemeinschaftHeight reiseGrundZihl alignRight" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Ziel-Anschrift</b><input class="FahrgemeinschaftHeight reiseGrundZihl alignRight" type="text"></div>
    <br>
    <div class="FahrgemeinschaftHeight"><b>Reisebeginn:</b><input class="FahrgemeinschaftHeight ReiseBeginn" type="text"> (Dat./Uhrzeit) Ort:<input class="FahrgemeinschaftHeight alignRight" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Reiseende:</b><input class="FahrgemeinschaftHeight ReiseEnde" type="text"> (Dat./Uhrzeit) Ort:<input class="FahrgemeinschaftHeight alignRight" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Mitreisende:</b> <input class="FahrgemeinschaftHeight Mitreisende" type="text"> (Name Vorn.) Zustieg:<input class="FahrgemeinschaftHeight alignRight" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Beförderungsmittel:</b><input style="width: 140px" class="FahrgemeinschaftHeight" type="text"> (Kfz/Bahn etc.) Km <input class="alignRight FahrgemeinschaftHeight" type="text"> </div>

    <br><br>

    <div class="pt12 FahrgemeinschaftHeight"><b>Entfernung (Hin+Rückfahrt):</b><input style="width: 100px" class="FahrgemeinschaftHeight" type="text">
        <b> Anzahl Km mit Mitreisenden: </b><input class=" FahrgemeinschaftHeight" style="width: 100px" type="text"> </div>

    <div class="pt11 FahrgemeinschaftHeight"><b> Nebenkosten (z.B. Parkgebühren Seminargebühren -unterlagen etc.):</b> <input type="text" class="FahrgemeinschaftHeight alignRight"></div>
    <div class="pt11 FahrgemeinschaftHeight"><b>Begründung für zusätzliche Kosten (z.B. Taxi)</b><input type="text" style="width: 360px" class="FahrgemeinschaftHeight alignRight"></div>
    <div class="pt11 FahrgemeinschaftHeight"><b>Übernachtungskosten (inkl. Frühstück)</b><input type="text" style="width: 400px" class="FahrgemeinschaftHeight alignRight"></div>

    <br>

    <p><b>unentgeltliche Verpflegung</b>(wenn von Tagungsfirma bereitgestellt)</p>
<br>
    <p>Frühstück	ja / nein		--> 	Kürzung des Tagesgeldes um 20 %</p>
    <p>Mittagessen	ja / nein		-->	Kürzung des Tagesgeldes um 50 %</p>
    <p>Abendessen	ja / nein		-->	Kürzung des Tagesgeldes um 30 %</p>
    <br>

    <p>Anlage zur Reisekostenabrechnung mit Begründung Hotel- und/oder Taxikosten liegt bei:	ja / nein</p>
    <p>Aufstellung zur Sammelreisekostenabrechnung liegt bei:					ja / nein</p>
    <p>Teilnehmer*innenliste (bei Gruppenreisen) liegt bei:						ja / nein</p>
    <br><br>
    <input type="text" class="UnterschriftSteller">
    <p><strong>Datum/Unterschrift Antragsteller*in:</strong></p>
    <p class="ichBestaetige extrasmall Italic">* Mit meiner Unterschrift bestätige ich, die „Richtlinie zur Genehmigung und Abrechnung von Dienstreisen“ + die „Richtlinie zur Genehmigung und Abrechnung von Fachschaftswochenenden“ zur Kenntnis genommen zu haben.  Ich bestätige die Vollständigkeit und Richtigkeit der o.g. Angaben.</p>

</div>
<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>
    <h1>Antrag auf Erstattung von Reisekosten</h1>


    <div class="ReciverBlock">
        <p class="vorschussReciver" ><strong>Empfänger*in:</strong><input class="vorschussReciver alignRight vorschussFullLen" type="text"></p>
        <p class="vorschussReciver" ><strong>Anschrift:</strong><input class="vorschussReciver alignRight vorschussFullLen" type="text"></p>

        <p  class="vorschussReciver" ><strong>IBAN:</strong> (22 Stellen)<input class="ibanfirst ibanwide vorschussReciver" type="text"><input class="ibanwide vorschussReciver" type="text"><input class="ibanwide vorschussReciver" type="text"><input class="ibanwide vorschussReciver" type="text"><input class="ibanwide vorschussReciver" type="text"><input class="ibanslim vorschussReciver" type="text"></p>
        <p class="vorschussReciver" ><strong>Kreditinstitut:</strong><input class="vorschussReciver alignRight vorschussFullLen" type="text"></p>
    </div>

    

</div>
<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>


</div>

</body>
</html>
