<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genehmigung von wirtschaftlichen Veranstaltungen</title>
    <link rel="stylesheet" href="Styles.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;

        }
        td, th {
            border: 1px solid #000;
            padding: 5px;
            text-align: start;

        }
        tbody tr{
            height: 60px;
        }
        .height_gvwvGeneral{
            height: 20px;
        }
        .width_gvwvGeneral{
            width: 460px;
        }
        .General_gvwv p{
            height: 26px;

        }
        textarea{
            width: 100%;
            height: 120px;
        }
        .vorschussUpperText{
            width: 120px;
            height: 20px;
        }
        .VomAstaAusfüllenSpacer{
            margin-top: 100px;
        }

        .AntragGeprueft{
            margin-top: 25px;
            margin-bottom: 60px;
        }
        .ProtokollAnheften{
            margin-top: 25px;
        }
    </style>
</head>
<body>

<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>
    <h1>Genehmigung von wirtschaftlichen Veranstaltungen</h1>
    <p class="Italic">(<strong>Bitte beachten:</strong> Antrag ist <strong>mindestens 6 Wochen vorher einzureichen</strong>! Später wird er abgelehnt!)</p>
<div class="General_gvwv">
    <p><b>Name der Veranstaltung:</b> <input th:value="${bez}" class="height_gvwvGeneral width_gvwvGeneral alignRight" type="text"></p>
    <p><b>Datum der Veranstaltung:</b><input th:value="${date}" class="height_gvwvGeneral width_gvwvGeneral alignRight" type="text"></p>
    <p><b>Fachschaft/Referat/Arbeitskreis:</b><input th:value="${fs_ref_ar}" class="height_gvwvGeneral width_gvwvGeneral alignRight" type="text"></p>
    <p><b>Name Verantwortliche*r:</b><input th:value="${responsible}" class="height_gvwvGeneral width_gvwvGeneral alignRight" type="text"></p>
    <p><b>Kontaktdaten (Handy-Nr. E-Mail):</b><input th:value="${contact}" class="height_gvwvGeneral width_gvwvGeneral alignRight" type="text"></p>
</div>

    <p class="Italic pt10"><b>Verwendungszweck: (Bitte ausführlich beschreiben! Evtl. Beiblatt nutzen.</b> - Was? Warum? Welcher Preis?)</p>
    <textarea th:text="${reason}">

    </textarea>

    <ul>
        <li><strong class="strongsizeSmaller">Unterschriebenes Protokoll der FS-Sitzung mit genau erläutertem Beschluss angehängt?</strong> <input th:checked="${protocoll_YES}" type="checkbox"> </li>
        <li><strong class="strongsizeSmaller">Veranstaltungsplanung (Finanzplanung Einnahmen/Ausgaben) incl. Preislisten angehängt?</strong> <input th:checked="${planning_YES}" type="checkbox"> </li>
        <li><strong class="strongsizeSmaller">Veranstaltung bei Facilitymanagement / Ordnungsamt / Gema angemeldet? Kopie angehängt?</strong> <input th:checked="${fm_gema_YES}" type="checkbox"> </li>
        <li><strong class="strongsizeSmaller">Zutatenliste erstellt und Aushänge für den Stand vorbereitet? (bei Verkauf von Speisen)</strong> <input th:checked="${ingredients_YES}" type="checkbox"> </li>
    </ul>

    <p><b>Termin</b> (geplant): <input th:value="${date}" class="height_gvwvGeneral" style="width: 100px" type="text"> <strong> Anzahl der Gäste</strong> (geplant):<input th:value="${guests}" class="height_gvwvGeneral" style="width: 100px" type="text"></p>
    <p><b>Höhe der Ausgaben (ca.):</b> <input th:value="${cost}" class="height_gvwvGeneral" style="width: 100px" type="text">
        <span class="Italic alignRight">(voraussichtliche Höhe laut Veranstaltungsplanung)<br>(bei großen Summen begründen welches Angebot + Warum)</span></p>
    <br>

    <p><b>Vorschuss notwendig? Ja </b><input th:checked="${req_vorschuss_YES}" type="checkbox"> <strong> / Nein </strong><input th:checked="${req_vorschuss_NO}" type="checkbox"> <strong>Wenn ja in welcher Höhe?</strong>
    <input type="text"></p>
    <p><b>Wechselgeld notwendig? Ja </b><input th:checked="${req_wechsel_YES}" type="checkbox"> <strong> / Nein </strong><input th:checked="${req_wechsel_NO}" type="checkbox"></p>

    <ul>
        <li><strong class="strongsizeSmaller">Bitte beachte dass Pfand nicht zurückerstattet werden kann!</strong></li>
        <li><strong class="strongsizeSmaller">Rücksprache mit dem AStA halten bezüglich des Vorschusses!</strong></li>
        <li><strong class="strongsizeSmaller">Vorschuss bitte zeitnah nach Gebrauch mit dem AStA abrechnen.</strong></li>
    </ul>


    <input type="text" class="UnterschriftSteller">
    <p><strong>Datum/Unterschrift Antragsteller*in:</strong></p>
    <p class="ichBestaetige Italic">* Ich bestätige die Vollständigkeit und Richtigkeit der oben gemachten Angaben.</p>

    <p class="UnderLine" style="margin-bottom: 30px"><strong>Antrag vom AStA genehmigt:</strong></p>
    <div class="signature">
        <div>
            <p>_____________________________________</p>
            <p>Datum/Unterschrift AStA-Vorsitz</p>
        </div>
        <div>
            <p>_____________________________________</p>
            <p>Datum/Unterschrift Finanzreferat</p>
        </div>
    </div>
</div>

<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>
    <h1>Wird ein Vorschuss oder Wechselgeld benötigt?</h1>
    <p>(Nur ausfüllen falls nötig! Es sind trotzdem alle Seiten einzureichen!)</p>

    <p><strong>Betrag in Euro:</strong> <input th:value="${prepay_sum}" class="vorschussUpperText" type="text"></p>
    <p><strong>Der Vorschuss wird bis zum folgenden Datum benötigt:</strong><input th:value="${prepay_req_till}" class="vorschussUpperText" type="text"></p>
    <p><strong>Spätester Termin für die Rückzahlung:</strong><input th:value="${prepay_payback_till}" class="vorschussUpperText" type="text"> (Muss unmittelbar nach der Veranst. erfolgen!)</p>

    <div class="ReciverBlock">
        <p class="vorschussReciver" ><strong>Empfänger*in:</strong><input th:value="${prepay_empf}" class="vorschussReciver alignRight vorschussFullLen" type="text"></p>
        <p class="vorschussReciver" ><strong>Anschrift:</strong><input th:value="${prepay_adress}" class="vorschussReciver alignRight vorschussFullLen" type="text"></p>

        <p  class="vorschussReciver" ><strong>IBAN:</strong> (22 Stellen)
            <input th:value="${prepay_iban_1}" class="ibanfirst ibanwide vorschussReciver" type="text">
            <input th:value="${prepay_iban_2}" class="ibanwide vorschussReciver" type="text">
            <input th:value="${prepay_iban_3}" class="ibanwide vorschussReciver" type="text">
            <input th:value="${prepay_iban_4}" class="ibanwide vorschussReciver" type="text">
            <input th:value="${prepay_iban_5}" class="ibanwide vorschussReciver" type="text">
            <input th:value="${prepay_iban_6}" class="ibanslim vorschussReciver" type="text"></p>
        <p class="vorschussReciver" ><strong>Kreditinstitut:</strong><input th:value="${prepay_bank}" class="vorschussReciver alignRight vorschussFullLen" type="text"></p>
    </div>

    <ul>
        <li><strong class="strongsize">Ich bestätige die Richtigkeit der gemachten Angaben.</strong></li>
        <li><strong class="strongsize">Ich bestätige, dass mir der Vorschussbetrag in Rechnung gestellt wird, sollte die Abrechnung der angemeldeten Ausgaben nicht zeitnah nach dem Kauf im AStA eingereicht werden.</strong></li>
        <li><strong class="strongsize">Ich verpflichte mich, alle Quittungen zusammen mit der Abrechnung im Original beizulegen.</strong></li>
    </ul>


    <input type="text" class="UnterschriftSteller">
    <p><strong>Datum/Unterschrift Antragsteller*in:</strong></p>

    <h2 class="VomAstaAusfüllenSpacer">Vom AStA auszufüllen!</h2>
    <hr>

    <p><strong>Beschluss AStA vorhanden? (>1000€)</strong> <input type="checkbox"> <span class="alignRight"> <strong>Datum der Sitzung:</strong> _______________</span></p>
    <p><strong>Beschluss FaRat vorhanden? (>5000€)</strong> <input type="checkbox"> <span class="alignRight"> <strong>Datum der Sitzung:</strong> _______________</span></p>
    <p class="ProtokollAnheften"><strong>(Protokoll mit Beschluss bitte anheften!)</strong></p>

    <p class="AntragGeprueft UnderLine"><strong>Antrag geprüft:</strong></p>
    <p>__________________________________________</p>
    <p>Datum/Unterschrift Haushaltsbeauftragte</p>

</div>

<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>
    <h1>Organisations-Team und Helferliste</h1>
    <p class="Italic">(Diese Seite ist <strong>zwingend</strong> dem Antrag <strong>beizufügen</strong>! Wer ist für was zuständig? Wie lang sind die Schichten?)</p>
    <table><thead>
    <tr>
        <th></th>
        <th>Name, Vorname</th>
        <th>Funktion</th>
    </tr></thead>
        <tbody>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>12</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>13</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>14</td>
            <td></td>
            <td></td>
        </tr>
        </tbody></table>
</div>
[(${Anhang})]
</body>
</html>
