<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genehmigung von Reisen mit Fahrgemeinschaften</title>
    <link rel="stylesheet" href="Styles.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #000;
            padding: 5px;
            text-align: start;
        }
        .extraSmallPrint{
            font-size: 8pt;
        }
        .VomAstaSpacer{
            padding-top: 50px;
        }
        .FahrgemeinschaftHeight{
            height: 20px;
        }
        div.FahrgemeinschaftHeight{
            padding-bottom: 10px;
        }
        .afk_width{
            width: 62%;
        }
        .reiseGrundZihl{
            width: 82%;
        }
        .ortWidth{
            width: 230px;
        }
        .ReiseBeginn{
            width: 200px;
            margin-left: 14px;
        }
        .ReiseEnde{
            width: 200px;
            margin-left: 29px;
        }
        .Mitreisende{
            width: 200px;
            margin-left: 23px;
        }
    </style>
</head>
<body>

<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>

    <h1>Antrag auf Genehmigung von Reisen mit Fahrgemeinschaften</h1>
    <p class="pt10">(Ist zwingend <strong>vor Antritt der Reise zu beantragen</strong> wegen der Versicherung! Ist <strong>Voraussetzung für die Erstattung</strong>!)</p>

    <br>

    <div class="FahrgemeinschaftHeight"><b>Antragsteller*in</b> (Name Vorname): <input class="FahrgemeinschaftHeight alignRight afk_width" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Fachschaft/Referat/Arbeitskreis:</b><input class="FahrgemeinschaftHeight alignRight afk_width" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Kontaktdaten</b> (Handy-Nr. E-Mail):<input class="FahrgemeinschaftHeight alignRight afk_width" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Reise-Grund:</b><input class="FahrgemeinschaftHeight reiseGrundZihl alignRight" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Reise-Ziel:</b><input class="FahrgemeinschaftHeight reiseGrundZihl alignRight" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Reise-Beginn:</b><input class="FahrgemeinschaftHeight ReiseBeginn" type="text"> (Dat./Uhrzeit) Ort:<input class="FahrgemeinschaftHeight alignRight ortWidth" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Reise-Ende:</b><input class="FahrgemeinschaftHeight ReiseEnde" type="text"> (Dat./Uhrzeit) Ort:<input class="FahrgemeinschaftHeight alignRight ortWidth" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Mitreisende:</b> <input class="FahrgemeinschaftHeight Mitreisende" type="text"> (Name Vorn.) Zustieg:<input class="FahrgemeinschaftHeight alignRight" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Beförderungsmittel:</b><input style="width: 540px" class="FahrgemeinschaftHeight alignRight" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Voraussichtlich anfallende Kosten:</b><input style="width: 430px" class="FahrgemeinschaftHeight alignRight" type="text"></div>
    <div class="FahrgemeinschaftHeight"><b>Begründung:</b><input style="width: 590px" class="FahrgemeinschaftHeight alignRight" type="text"></div>

    <input type="text" class="UnterschriftSteller">
    <p><strong>Datum/Unterschrift Antragsteller*in:</strong></p>
    <p class="ichBestaetige Italic extraSmallPrint">* Mit meiner Unterschrift bestätige ich die
        „Richtlinie zur Genehmigung und Abrechnung von Dienstreisen“ und die „Richtlinie zur Genehmigung und Abrechnung
        von Fachschaftswochenenden“ zur Kenntnis genommen zu haben. Ich bestätige die Vollständigkeit und Richtigkeit der o. g. Angaben.</p>

    <h2 class="VomAstaSpacer">Vom AStA auszufüllen!</h2>
    <hr>

    <p style="padding-bottom: 20px"> <strong>Entscheidung über den Antrag:</strong> </p>
    <p>Die Dienstreise wird genehmigt und aus dem VS-Haushalt finanziert: ja <input type="checkbox"> nein <input type="checkbox"></p>


    <ul>
        <li><strong class="strongsizeSmaller">Die Kostenerstattung erfolgt gemäß aktuell gültigem Landesreisekostengesetz (LRKG).</strong></li>
        <li><strong class="strongsizeSmaller">Abweichungen von den tatsächlich entstandenen Kosten sind möglich!</strong></li>
        <li><strong class="strongsizeSmaller">Siehe hierzu auch die Richtlinien zu Dienstreisen und Fachschaftswochenenden!</strong></li>
    </ul>


    <div class="signature">
        <div>
            <p>_____________________________________</p>
            <p>Datum/Unterschrift AStA-Vorsitz</p>
        </div>
        <div>
            <p>_____________________________________</p>
            <p>Datum/Unterschrift Finanzreferat</p>
        </div>
    </div>
</div>

<div class="page">
    <div class="HeaderLine">
        <address>
            Studierendenschaft der Hochschule Esslingen<br>
            Allgemeiner Studierendenausschuss<br>
            Kanalstr. 33<br>
            73728 Esslingen<br>
            <br>
            E-Mail: asta@hs-esslingen.de
        </address>

        <img src="AstaRgb.png">
    </div>

    <h1>Anlage: Teilnehmer*innenliste der Reise</h1>
    <p style="padding-bottom: 20px">(Teilnehmerliste ist aus Versicherungsgründen <strong>unbedingt vorher auszufüllen</strong> und beim AStA einzureichen!)</p>
    <p style="height: 25px"><b>Veranstaltung:</b> <input type="text" class="alignRight" style="height: 20px; width: 80%"></p>
    <p style="height: 25px"><b>Termin:</b> <input type="text" class="" style="height: 20px; width: 50%; margin-left: 78px"></p>
    <p style="height: 25px"><b>Ort:</b> <input type="text" class="" style="height: 20px; width: 50%; margin-left: 104px"></p>
    <br>
    <table>
        <tr>
            <th class="pt11">Nr.</th>
            <th class="pt11">Name, Vorname</th>
            <th class="pt11">Organisation</th>
            <th class="pt11">Unterschrift</th>
        </tr>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>12</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>13</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>14</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>15</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>16</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>18</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>19</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>20</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

</body>
</html>
