#accordion {
    position: absolute;
    bottom: 0px;
}

.card-header {
    background-color:var(--asta-blue);
    border-radius: 0;
}

.card-body {
    background-color:var(--asta-bluelight);
}

.card {
    width: 100vw;
    border-width: 0;
}
.text {
    color: white;
  }