<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn " data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <span class="text">Favoriten</span>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
        <div class="card-body">
          @for(f of this.favService.getFav(); track f) {
            <app-marked-item [form]="f"></app-marked-item>
          }
        </div>
      </div>
    </div>
 </div>



<!--Bootrstrap Source: https://getbootstrap.com/docs/4.0/components/collapse/         "Accordion example"-->
